body{
  background-color: pink;
  float: left;
  margin: 0;
  }

div{
  float: left;
}

/* header */
.decoration{
  width: 14%;
}
.decor{
  width: 13%;
}


.aj{
  width: 25%;
  border-radius: 5%;
}

.boom{
  width: 49%;
  border-radius: 5%;
}
.copy{
  text-align: center;
  padding-top: 10%;
    font-weight: bold;
}

.three{
  margin-top: 20%;
  /* justify-content: center; */
}


 @media (max-width: 500px) {

  .decoration{
    width: 12%;
  }
  .decor{
    width: 11%;
  }

  .boom{
    width: 43%;
  }
  .copy{
    font-size: 10px;
    padding-top: 15%;
    font-weight: bold;
  }


}
